# program artifacts
/src/setting.rc
/src/header.txt
/src/header_user.txt
/src/data/labels_??.rc
/src/data/dict_*_user.txt

# development artifacts
/src/tools/

# build artifacts
/guiguts-*.zip
/guiguts

# temporary files
*.pl~
*.pm~

# editor backup files
*.bak
