# program artifacts
/src/setting.rc
/src/header.txt
/src/data/labels_en.rc

# development artifacts
/src/tools/

# build artifacts
/guiguts-*.zip
/guiguts

# temporary files
*.pl~
*.pm~

# editor backup files
*.bak
