%scannoslist = (
"&alpha;"       =>      "\x{03B1}",
"&beta;"        =>      "\x{03B2}",
"&gamma;"       =>      "\x{03B3}",
"&delta;"       =>      "\x{03B4}",
"&epsilon;"     =>      "\x{03B5}",
"&zeta;"        =>      "\x{03B6}",
"&eta;"         =>      "\x{03B7}",
"&theta;"       =>      "\x{03B8}",
"&iota;"        =>      "\x{03B9}",
"&kappa;"       =>      "\x{03BA}",
"&lambda;"      =>      "\x{03BB}",
"&mu;"          =>      "\x{03BC}",
"&nu;"          =>      "\x{03BD}",     #ATB
"&xi;"          =>      "\x{03BE}",
"&omicron;"     =>      "\x{03BF}",
"&pi;"          =>      "\x{03C0}",
"&rho;"         =>      "\x{03C1}",
"&sigma;"       =>      "\x{03C3}",
"&tau;"         =>      "\x{03C4}",
"&upsilon;"     =>      "\x{03C5}",
"&phi;"         =>      "\x{03C6}",
"&chi;"         =>      "\x{03C7}",
"&psi;"         =>      "\x{03C8}",
"&omega;"       =>      "\x{03C9}",
"&Alpha;"       =>      "\x{0391}",
"&Beta;"        =>      "\x{0392}",
"&Gamma;"       =>      "\x{0393}",
"&Delta;"       =>      "\x{0394}",
"&Epsilon;"     =>      "\x{0395}",
"&Zeta;"        =>      "\x{0396}",
"&Eta;"         =>      "\x{0397}",
"&Theta;"       =>      "\x{0398}",
"&Iota;"        =>      "\x{0399}",
"&Kappa;"       =>      "\x{039A}",
"&Lambda;"      =>      "\x{039B}",
"&Mu;"          =>      "\x{039C}",
"&Nu;"          =>      "\x{039D}",     #ATB
"&Xi;"          =>      "\x{039E}",
"&Omicron;"     =>      "\x{039F}",
"&Pi;"          =>      "\x{03A0}",
"&Rho;"         =>      "\x{03A1}",
"&Sigma;"       =>      "\x{03A3}",
"&Tau;"         =>      "\x{03A4}",
"&Upsilon;"     =>      "\x{03A5}",
"&Phi;"         =>      "\x{03A6}",
"&Chi;"         =>      "\x{03A7}",
"&Psi;"         =>      "\x{03A8}",
"&Omega;"       =>      "\x{03A9}",
);
