%scannoslist = (
'1'=>'I',
'111' => 'Ill',
'ail' => 'all',
'arc' => 'are',
'arid' => 'and',
'bad' => 'had',
'ball' => 'hall',
'band' => 'hand',
'bar' => 'her',
'bat' => 'but',
'be' => 'he',
'bead' => 'head',
'beads' => 'heads',
'bear' => 'hear',
'bit' => 'hit',
'bo' => 'be',
'boon' => 'been',
'borne' => 'home',
'bow' => 'how',
'bumbled' => 'humbled',
'car' => 'ear',
'carnage' => 'carriage',
'carne' => 'came',
'cast' => 'east',
'cat' => 'eat',
'CHATTER' => 'CHAPTER',
'CHARTER' => 'CHAPTER',
'cheek' => 'check',
'clay' => 'day',
'coining' => 'coming',
'comer' => 'corner',
'die' => 'she',
'docs' => 'does',
'ease' => 'case',
'fail' => 'fall',
'fax' => 'far',
'fee' => 'he',
'ha' => 'he',
'hare' => 'have',
'haying' => 'having',
'hie' => 'his',
'ho' => 'he',
'hut' => 'but',
'is' => 'as',
'lie' => 'he',
'lime' => 'time',
'loth' => '10th',
'm' => 'in',
'mall' => 'mail',
'modem' => 'modern',
'meat'=>'ment',
'Ms' => 'his',
'OP' => 'OF',
'ray' => 'away',
'ray' => 'my',
'ringer' => 'finger',
'ringers' => 'fingers',
'rioted' => 'noted',
'tho' => 'the',
'tie' => 'the',
'tier' => 'her',
'tight' => 'right',
'tile' => 'the',
'tiling' => 'thing',
'tip' => 'up',
'tor' => 'for',
'tram' => 'train',
'tune' => 'time',
'wen' => 'well',
'yon' => 'you'
);
